In [13]:
# Flow Control in Python

In [14]:
# FOR LOOP

In [2]:
# WAP to print characters present in the given string

s="amajaying"
for x in s:
    print(x)

a
m
a
j
a
y
i
n
g

In [3]:
# WAP to print characters present in string index wise

s=input("Enter some String: ")
i=0
for x in s:
    print("The character present at ",i,"index is: ",x)
    i=i+1

Enter some String:  amajaying

The character present at  0 index is:  a
The character present at  1 index is:  m
The character present at  2 index is:  a
The character present at  3 index is:  j
The character present at  4 index is:  a
The character present at  5 index is:  y
The character present at  6 index is:  i
The character present at  7 index is:  n
The character present at  8 index is:  g

In [5]:
# WAP to print hello 10 times

s="Hello"
for i in range(1,11):
    print(s)

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [6]:
s="Hello"
for i in range(10):
    print(s)

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [7]:
# WAP to display numbers from 0 to 10

for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [9]:
# WAP to display odd numbers from 0 to 20

for i in range(21):
    if(i%2!=0):
        print(i)

1
3
5
7
9
11
13
15
17
19

In [11]:
# WAP to display numbers from 10 to 1 in descending order

for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [12]:
# WAP to print sum of numbers present inside list

list=eval(input("Enter List: "))
sum=0
for x in list:
    sum+=x
print("The Sum: ", sum)

Enter List:  2,3,4,5

The Sum:  14

In [15]:
# WHILE LOOP

In [17]:
# WAP to print numbers from 1 to 10 by using while loop

x=1
while x<=10:
    print(x)
    x=x+1

1
2
3
4
5
6
7
8
9
10

In [18]:
# WAP to display sum of first n numbers

n=int(input("Enter number: "))
sum=0
i=1
while i<=n:
    sum+=i
    i+=1
print("the sum of first",n,"number is: ", sum)

Enter number:  10

the sum of first 10 number is:  55

In [1]:
# WAP to prompt user to enter some name until entering amajaying

name=""
while name!="amajaying":
    name=input("Enter name: ")
print("Thanks for confirmation!")

Enter name:  amajrinfg
Enter name:  amajing
Enter name:  amajaying

Thanks for confirmation!

In [2]:
# Nested Loops

for i in range(3):
    for j in range(2):
        print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello

In [3]:
for i in range(4):
    for j in range(4):
        print("i: ",i,"j: ",j)

i:  0 j:  0
i:  0 j:  1
i:  0 j:  2
i:  0 j:  3
i:  1 j:  0
i:  1 j:  1
i:  1 j:  2
i:  1 j:  3
i:  2 j:  0
i:  2 j:  1
i:  2 j:  2
i:  2 j:  3
i:  3 j:  0
i:  3 j:  1
i:  3 j:  2
i:  3 j:  3

In [5]:
# WAP to display *'s in right angled traingle form

n = int(input("enter no of rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*", end=" ")
    print()

enter no of rows:  7

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [6]:
# Alternatuce way:

n=int(input("Enter number of rows: "))
for i in range(1,n+1):
    print("* "*i)

Enter number of rows:  7

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [7]:
# Equivalent Triangle Form

n = int(input("Enter number of rows: "))
for i in range(1, n+1):
    print(" "*(n-i),end="")
    print("* "*i)

Enter number of rows:  7

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [8]:
# ---------------------------------------------------------

In [9]:
# Lab 3 Assignments

In [18]:
# wAP to find those numbers which are divisible by 2 and multiples of 5 between 1500 and 2700 (both included)

print("Numbers which are divisible by 2 and multiples of 5 are: ")
for i in range(1499, 2701):
    if i%2==0 and i%5==0:
        print(i, end=", ")

Numbers which are divisible by 2 and multiples of 5 are:
1500, 1510, 1520, 1530, 1540, 1550, 1560, 1570, 1580, 1590, 1600, 1610, 1620, 1630, 1640, 1650, 1660, 1670, 1680, 1690, 1700, 1710, 1720, 1730, 1740, 1750, 1760, 1770, 1780, 1790, 1800, 1810, 1820, 1830, 1840, 1850, 1860, 1870, 1880, 1890, 1900, 1910, 1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010, 2020, 2030, 2040, 2050, 2060, 2070, 2080, 2090, 2100, 2110, 2120, 2130, 2140, 2150, 2160, 2170, 2180, 2190, 2200, 2210, 2220, 2230, 2240, 2250, 2260, 2270, 2280, 2290, 2300, 2310, 2320, 2330, 2340, 2350, 2360, 2370, 2380, 2390, 2400, 2410, 2420, 2430, 2440, 2450, 2460, 2470, 2480, 2490, 2500, 2510, 2520, 2530, 2540, 2550, 2560, 2570, 2580, 2590, 2600, 2610, 2620, 2630, 2640, 2650, 2660, 2670, 2680, 2690, 2700,

In [22]:
# WAP that accepts a sentence from user and change the case

s = input("Enter a sentence: ")
print(s.swapcase())

Enter a sentence:  Hello amajaying!

hELLO AMAJAYING!

In [25]:
# WAP to count the number of even and odd numbers in a series of 15 numbers

e=0
o=0

for i in range(0,15):
    if i%2==0:
        e+=1
    else:
        o+=1

print("Even: ",e," Odd: ",o)

Even:  8  Odd:  7

In [27]:
# WAP to get the Fibonacci series between 5 and 25

prev = 3
curr = 5

while curr<=25:
    print(curr, end=",")
    x=prev
    prev=curr
    curr=curr+x

5,8,13,21,

In [33]:
# WAP that takes 2 digits m (row) and n (column) as input and generates a two dimensional array. The element value in the i-th row and j-th column of the array should i*j

m = int(input("Enter row: "))
n = int(input("Enter column: "))

arr=[[0 for j in range(n)] for i in range(m)]

for i in range(m):
    for j in range(n):
        arr[i][j] = i*j

for i in range(m):
    for j in range(n):
        print(arr[i][j], end=" ")
    print()

Enter row:  4
Enter column:  4

0 0 0 0
0 1 2 3
0 2 4 6
0 3 6 9

In [ ]:
# WAP that accepts a string and calculates the number of digits and letters

n = input("Enter a string: ")
for i in n: